<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216522596554-e06utr4obe2fmklbua3vm2p8ejh3da1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216522596554-e06utr4obe2fmklbua3vm2p8ejh3da1c</string>
	<key>API_KEY</key>
	<string>AIzaSyBiQLj5xLLSLeUAIZKbQEn2raTMAW_YMgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>216522596554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.NaTruTraveller</string>
	<key>PROJECT_ID</key>
	<string>natrutravellerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>natrutravellerapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216522596554:ios:bee21661cd2115f7f01433</string>
</dict>
</plist>